


<div *ngIf= " muestraAlta">
<h1>REGISTRARSE</h1>

<form [formGroup]='altaForm' (ngSubmit)=submit()>
    <div class="datosAlta">
        <label>nombre
            <input type="text" formControlName="nombre">
        </label>
        <br>
        <label>apellido
            <input type="text" formControlName="apellido">
        </label>
        <br>
        <label>usuario
            <input type="text" formControlName="usuario">
        </label>
        <br>
        <label>correo electronico
            <input type="email" formControlName="correo">
        </label>

    </div>

    
     Status Formulario: {{altaForm.status}}

     <button >Guardar</button>

    <!-- <button type="submit"[rout="['/modificacion-component',altaForm.value]">Guardar</button> -->
</form>

</div>

<div *ngIf ="muestraModificacion"> 
<!-- modificado es parte del componente b -->
<app-modificacion [modificado]="usuarioA"></app-modificacion>
</div>